{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bird_Species_classification</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <!-- Home Section -->

  <header id="header">
    <div class="container">

      <h1><a href="#" style="color: #18d26e;"><img src="{% static 'img/Bird.png' %}" class="img" ></a></h1>
      
      <h2>Do Login and Keep track of Your Activities &nbsp;&nbsp; <span> <a href="{% url 'login' %}" style="font-size:18px;">Login Here!</a></span> </h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#discover">Discover</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>  
          <li><a id="discover-link" href="#discover" class="nav-link"  style="border:2px solid #4ceb95;padding:8px 30px;border-radius: 5px;">Discover</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <!-- End Home -->

  <!-- About Section -->

  <section id="about" class="about">

  <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about us!</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'img/Bird-3.jpg' %}" class="img-fluid" alt="" style="border-radius: 5px;">
        </div>

        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left" style="color: #aaaaaa;">
          <h5>Our Vision</h5>
          <p>Our vision is to create a world where people have a greater appreciation and understanding of bird species and 
            their importance in the natural environment. By providing a user-friendly bird species detection system that is 
            accessible to anyone, we hope to empower people to explore and appreciate the rich diversity of bird 
            species that exist in Bhutan. We envision a future where birdwatching, conservation, and research efforts are 
            supported by advanced technologies such as machine learning, allowing us to better understand and protect our natural world. 
            Our goal is to contribute to a future where bird populations thrive and are valued as an essential part of our planet's ecosystem.</p>
          
          <br>
          <br> 
        </div>

        <h5>Our Mission</h5>
        <p style="color: #aaaaaa;">
          Our system can be used by birdwatchers,
          conservationists, researchers, and photographers to identify bird species quickly and easily. Our system utilizes 
          state-of-the-art machine learning algorithms, specifically deep learning techniques, to analyze and classify bird 
          images with high accuracy. By using our system, we aim to support wildlife conservation efforts, enhance birdwatching
          experiences, and promote bird education and awareness. Our goal is to contribute to a better understanding of bird 
          populations and their habitats, ultimately leading to improved conservation efforts and the protection of bird species in Bhutan.
        </p>
      </div>

    </div>

  <div class="testimonials container">

      <div class="section-title">
        <h2>Meet Our Developers</h2>
      </div>
      <div  style="color: #aaaaaa;">
        <p>
          Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
          Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
        </p>
        <br>
        <br> 
      </div>
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
              <p>
                <img src="{% static 'img/khotsha.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px; border-radius:50px 0px;">
              </p>
              <h3 style="font-size: 18px; font-weight: bold;">Kuenzang Wangchuk</h3>
              <h4 style="font-size: 14px;">Data analyst and Tester</h4>
          </div>

          <div class="swiper-slide">
            <p>
              <img src="{% static 'img/GyemTshering.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px; border-radius:0px 50px;">
            </p>
            <h3 style="font-size: 18px; font-weight: bold;">Gyem Tshering</h3>
            <h4 style="font-size: 14px;">Main Developer and Lead</h4>
        </div>

          <div class="swiper-slide">
            <p>
              <img src="{% static 'img/Bir.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;  border-radius:50px 0px;">
            </p>
            <h3 style="font-size: 18px; font-weight: bold;">Bir Bdr Tamang </h3>
            <h4 style="font-size: 14px;">Data Scientist</h4>
        </div>

          <div class="swiper-slide">
            <p>
              <img src="{% static 'img/tshotsho.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius:0px 50px">
            </p>
            <h3 style="font-size: 18px; font-weight: bold;">Kelzang Phuntsho</h3>
            <h4 style="font-size: 14px;">Frontend developer</h4>
        </div>

          <div class="swiper-slide">
            <p>
              <img src="{% static 'img/Deki.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius:50px 0px;">
            </p>
            <h3 style="font-size: 18px; font-weight: bold;">Deki Yangden</h3>
            <h4 style="font-size: 14px;">Documentation and UI/UX design</h4>
        </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div>

  </section>
  <!-- End About Section -->

  <!--  discover Section -->

  <section id="discover" class="discover">
    <div class="container">

      <div class="section-title">
        <h2>Discover</h2>
        <p>Discover The Birds Here</p>
      </div>

      <div class="row">

        <div class="two-columns">
                <div class="drop-zone" id="drop-zone">
                  <div class="image-preview">
                    <span class="icon">
                      <img src="../static/img/drag.png" class="drag_drop"></span>
                    <img id="preview-img" >
                  </div>
                  <input type="file" id="file-input" style="display: none;">
                  <label for="file-input" class="upload-btn">Choose  image</label>
                  <div class="text-center"><button type="submit">Predict</button></div>
                </div>

                <div class="drop-zone-2" id="drop-zone">
                  <img src="../static/img/Bird-2.jpeg" style="width: 300px;height: 200px;margin-bottom: 20px; border-radius: 5px";>

                    <div class="section-title">
                      <h2>Result</h2>
                    </div>
                    
                    <div class="Row-1" >
                      <h3>Red Horn Bill</h3>
                    </div>
                  
                    <div class="section-title">
                      <h2>Description</h2>
                      <div class="Row-2" >
                        <h6 style="color: #e6e2e2;">THornbills (Bucerotidae) are a family of bird found in tropical and subtropical Africa, Asia and Melanesia. 
                          They are characterized by a long, down-curved bill which is frequently brightly coloured and sometimes has a
                           casque on the upper mandible.
                           THornbills (Bucerotidae) are a family of bird found in tropical and subtropical Africa, Asia and Melanesia. 
                           They are characterized by a long, down-curved bill which is frequently brightly coloured and sometimes has a
                            casque on the upper mandible.
                            THornbills (Bucerotidae) are a family of bird found in tropical and subtropical Africa, Asia and Melanesia. 
                            They are characterized by a long, down-curved bill which is frequently brightly coloured and sometimes has a
                             casque on the upper mandible.</h6>
                      </div>
                  </div>
                  
                </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <img src="../static/img/Bird-2.jpeg" style="width: 300px;height: 200px;margin-bottom: 20px; border-radius: 5px";>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <img src="../static/img/Bird-2.jpeg" style="width: 300px;height: 200px;margin-bottom: 20px; border-radius: 5px">
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <img src="../static/img/Bird-2.jpeg" style="width: 300px;height: 200px;margin-bottom: 20px; border-radius: 5px">
            <h4><a href="">Divera don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End discover Section -->


   <!-- Contact Section -->
   <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us for Any Queries</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Mongar, Gyelpozhing</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>BirdspeciesDetection@example.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+975 7739 8819</p>
          </div>
        </div>
      </div>

      <form action="" method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section>
  <!-- End Contact Section -->

 

  <!-- Vendor JS Files -->

  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script>
  
    const dropZone = document.getElementById('drop-zone');
    const previewImg = document.getElementById('preview-img');
    const fileInput = document.getElementById('file-input');
    const icon = document.querySelector('.icon');
    
    dropZone.addEventListener('dragover', (e) => {
      e.preventDefault();
      dropZone.classList.add('highlight');
    });
    
    dropZone.addEventListener('dragleave', (e) => {
      e.preventDefault();
      dropZone.classList.remove('highlight');
    });
    
    dropZone.addEventListener('drop', (e) => {
      e.preventDefault();
      dropZone.classList.remove('highlight');
      
      const file = e.dataTransfer.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        previewImg.src = reader.result;
        icon.style.display = 'none';
      }
      
      reader.readAsDataURL(file);
    });
    
    fileInput.addEventListener('change', (e) => {
      const file = fileInput.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        previewImg.src = reader.result;
        icon.style.display = 'none';
      }
      
      reader.readAsDataURL(file);
    });
  </script>

</body>


</html>